@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  height: 6px;
  background-color: rgb(217, 252, 255);
}
#mobile-nav {
  transition: all 200ms ease-in-out;

  visibility: visible;
  opacity: 1;
}

#mobile-nav.closed {
  visibility: hidden;
  opacity: 0;
}

.icon-btn {
  @apply flex justify-center items-center;
  @apply h-12 w-12 rounded-full;
  @apply bg-blue-100 text-blue-800 text-lg;
}
