@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-5 {
  transition: all 0.5s;
}

.transition-4 {
  transition: all 0.4s;
}

.transition-3 {
  transition: all 0.3s;
}

.transition-2 {
  transition: all 0.2s;
}

.transition-1 {
  transition: all 0.1s;
}
