@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#mobile-nav {
  transition: all 200ms ease-in-out;

  visibility: visible;
  opacity: 1;
}

#mobile-nav.closed {
  visibility: hidden;
  opacity: 0;
}
